/* variables */

/* colors from Flat UI Pro http://designmodo.com/flat/ */
$brand-alizarin:        #E74C3C;
$brand-turquoise:       #1abc9c;
$brand-green:           #75CE66;
$brand-petermann:       #3498DB;
$brand-pomegranate:     #C0392B;
$brand-midnight:        #2C3E50;

$text-color:            $brand-midnight;

/* external */

@import "bootstrap";
@import "font-awesome";

/* fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Raleway/Raleway-Heavy.ttf');
}

/* global */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h1, h2, h3 {
  text-shadow: 0px 3px rgba(0, 0, 0, 0.05);
}

.wrapper {
  margin-top: 100px;
  background: $gray-lighter;
}

.container-fluid {
  max-width: $screen-lg-min;
}

/* header */

header {
  margin-top: -70px;
  border-bottom: 1px solid $gray-light;
}

.headshot {
  height: 160px;
  width: 160px;
  border: 10px solid white;
  margin-bottom: 1em;
}

.name {
  margin-top: 0;
}

/* timeline module */

.timeline {
  position: relative;
  border-left: 3px solid $gray-light;
  margin-left: 20px;

  .alert {
    margin: 0 0 0 40px;
    color: $text-color;
    border-radius: 0;

    small {
      line-height: 20px;
      font-weight: 700;
      float: right;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .timeline .alert small {
    display: inline-block;
    float: none;
  }
}

.timeline-item {
  position: relative;
  margin-top: 2em;
}

.timeline-icon {
  position: absolute;
  left: -23px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px 0px 4px white,
              0px 2px 0px rgba(0, 0, 0, 0.08) inset,
              0px 3px 0px 4px rgba(0, 0, 0, 0.05);

  &:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
  }
}

.timeline-item.client .timeline-icon {
  background-color: $brand-green;

  &:before {
    content: "\f0f7";
    top: 4px;
    left: 12px;
  }
}

.timeline-item.education .timeline-icon {
  background-color: $brand-pomegranate;

  &:before {
    content: "\f19d";
    top: 4px;
    left: 7px;
  }
}

.timeline-content {
  position: relative;
  margin-left: 40px;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

  &:before {
    content: ' ';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0px;
    width: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
  }
}

.timeline-title {
  margin: 0;
}

.timeline-date small:before {
  font-family: FontAwesome;
  content: '\f017';
  margin-right: 5px;
}

/* contact module */

.contact-table>tbody>tr {
  &>td {
    padding: 2px 5px;
    border-top: 1px solid $gray-light;

    &:first-child {
      font-size: 2em;
      width: 1px;
    }
  }

  &:first-child td {
    border-top: 0;
  }
}

/* skill module */

.skill-list {
  padding-left: 0;
  list-style: none;
}

.skill-item {
  background: $brand-alizarin;
  color: white;
  padding: 0.125em 0.5em;
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

.skill-legend>tbody>tr {
  .marker-left {
    border-left: 2px solid $gray-light;
    border-top: 0;
    padding: 10px 0 0 0;
  }

  .marker-right {
    border-right: 2px solid $gray-light;
    border-top: 0;
    padding: 10px 0 0 0;
  }

  .legend-left, .legend-right {
    border-top: 2px solid $gray-light;
    padding: 5px 0 0 0;
  }

  .legend-left {
    text-align: left;
  }

  .legend-right {
    text-align: right;
  }
}

/* stat module */

.stat-list {
  padding-left: 0;
  list-style: none;
}

.stat-item {
  float: left;
  width: 48%;
  padding: 10px;
  text-align: center;
  background-color: $brand-petermann;
  color: white;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 4%;

  &:nth-child(odd) {
    margin-right: 2%;
  }

  &:nth-child(even) {
    margin-left: 2%;
  }

  &:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
}

.stat-number {
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
}

.stat-description {
  display: block;
}

/* hobby module */

.hobby-list {
  padding-left: 0;
  list-style: none;
}

.hobby-item {
  color: white;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  background: $brand-turquoise;

  &:before {
    font-family: FontAwesome;
    content: "\f004";
    font-size: 12px;
    margin-right: 4px;
  }
}

/* reference module */

.reference-list {
  padding-left: 0;
  list-style: none;
}

.reference-item {
  margin-bottom: 1em;
}

.reference-name, .reference-phone, .reference-email {
  display: block;
}

.reference-name {
  font-weight: 700;
}

.reference-name:before {
  font-family: FontAwesome;
  content: '\f007';
  margin-right: 10px;
}

.reference-phone:before {
  font-family: FontAwesome;
  content: '\f095';
  margin-right: 7px;
}

.reference-email:before {
  font-family: FontAwesome;
  content: '\f0e0';
  margin-right: 5px;
}
