/* external */

@import 'bootstrap';
@import 'font-awesome';

/* variables */
$bp-xs: 768px;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darkest:           #434A54;
$gray-darker:            #656D78;
$gray-dark:              #AAB2BD;
$gray-light:             #CCD1D9;
$gray-lighter:           #E6E9ED;
$gray-lightest:          #F5F7FA;

$brand-alizarin:        #E74C3C;
$brand-turquoise:       #1abc9c;
$brand-green:       #75CE66;
$brand-petermann:       lighten(#3498DB, 10%);
$brand-pomegranate:     #C0392B;
$brand-midnight:        #2C3E50;

$bg-color:              $gray-lightest;
$text-color:            $brand-midnight;
$link-color:            $text-color !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

/* fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Raleway/Raleway-Heavy.ttf');
}

/* global */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.05);
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

a {
  color: $link-color;
}

.container {
  margin-top: 80px;
  background: $bg-color;
  border-radius: 0;
}

@media (min-width: $bp-xs) {
  .container {
    border-radius: 1em;
    margin-bottom: 20px;
  }
}

/* header */

header {
  margin-top: -70px;
  border-bottom: 1px solid $gray-light;
}

.headshot {
  height: 140px;
  width: 140px;
  border: 10px solid white;
  border-radius: 50%;
}

.name {
  margin-top: 0;
}

/* timeline module */

.timeline {
  position: relative;
  display: table;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    width: 3px;
    background: $gray-light;
  }

  .alert {
    margin: 0 0 0 60px;
    color: $text-color;

    small {
      line-height: 20px;
    }
  }
}

.timeline-item {
  position: relative;
  margin-top: 2em;
}

.timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px 0px 4px white,
              0px 2px 0px rgba(0, 0, 0, 0.08) inset,
              0px 3px 0px 4px rgba(0, 0, 0, 0.05);
}

.timeline-item.client .timeline-icon {
  background-color: $brand-green;

  &:before {
    font-family: FontAwesome;
    content: "\f0f7";
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: 24px;
  }
}

.timeline-item.education .timeline-icon {
  background-color: $brand-pomegranate;

  &:before {
    font-family: FontAwesome;
    content: "\f19d";
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 24px;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background-color: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

  &:before {
    content: ' ';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0px;
    width: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
  }
}

.timeline-title {
  margin: 0;
}

.timeline-date small {
  &:before {
    font-family: FontAwesome;
    content: '\f017';
    margin-right: 5px;
  }
}

/* contact module */

.contact-table {
  &>tbody {
    &>tr {
      td {
        border-top: 1px solid $gray-light;
      }

      &:first-child td {
        border-top: 0;
      }

      &>td {
        padding: 2px;

        &:first-child {
          text-align: center;
          font-size: 2em;
          width: 2em;
        }
      }
    }
  }
}

/* skills module */

.skills-list {
  padding-left: 0;
  list-style: none;
}

.skills-item {
  background: $brand-alizarin;
  color: white;
  padding: 0.125em 0.5em;
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

.skills-legend {
  margin-top: 1.428571428571429em;

    &.skills-legend:before{
      height: 2px;
      position: relative;
      content: ' ';
      display: block;
      margin-bottom: -12px;
      background: $gray-dark;
    }
}

.legend {
  width: 25%;
  display: inline-block;
  color: $gray-dark;
  float: left;

  &.legend:before{
    width: 2px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin: auto;
    margin-bottom: 5px;
    background: $gray-dark;
  }
}

.legend-left.legend:before {
  margin-left: 0;
}

.legend-right.legend:before {
  margin-right: 0;
}

.legend-left:nth-child(2) span {
  margin-left: -25px;
}

.legend-right:nth-child(3) span {
  margin-right: -20px;
}

.legend-right {
  text-align: right;
}

/* stats module */

.stats {
  overflow: hidden;
}

.stats-list {
  padding-left: 0;
  list-style: none;

  li {
    float: left;
    width: 48%;
    padding: 10px;
    text-align: center;
    background-color: $brand-petermann;
    color: white;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
    margin-bottom: 4%;

    &:nth-child(odd) {
      margin-right: 2%;
    }

    &:nth-child(even) {
      margin-left: 2%;
    }

    &:nth-last-child(-n+1) {
      margin-bottom: 0;
    }
  }
}

.stats-number {
  font-family: 'Lato';
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
}

.stats-description {
  display: block;
}

/* hobbies module */

.hobbies-list {
  padding-left: 0;
  list-style: none;
}

.hobby {
  color: white;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  background: $brand-turquoise;

  &:before {
    font-family: FontAwesome;
    content: "\f004";
    font-size: 12px;
    margin-right: 4px;
  }
}

/* references module */

.references-list {
  padding-left: 0;
  list-style: none;
}

.references-item {
  margin-bottom: 1em;
}

.references-name {
  font-weight: 700;
  display: block;
}

.references-phone, .references-email {
  display: block;
}

.references-name:before {
  font-family: FontAwesome;
  content: '\f007';
  margin-right: 10px;
}

.references-phone:before {
  font-family: FontAwesome;
  content: '\f095';
  margin-right: 7px;
}

.references-email:before {
  font-family: FontAwesome;
  content: '\f0e0';
  margin-right: 5px;
}

